In [6]:
import pandas as pd
import numpy as np

In [7]:
import pandas_profiling

In [8]:
data = pd.read_csv('Data_USD.csv')

In [9]:
!pip install sklearn

Requirement already satisfied: sklearn in c:\users\lenovo\anaconda3\envs\multi\lib\site-packages (0.0)
Requirement already satisfied: scikit-learn in c:\users\lenovo\anaconda3\envs\multi\lib\site-packages (from sklearn) (0.24.2)
Requirement already satisfied: joblib>=0.11 in c:\users\lenovo\anaconda3\envs\multi\lib\site-packages (from scikit-learn->sklearn) (1.0.1)
Requirement already satisfied: scipy>=0.19.1 in c:\users\lenovo\anaconda3\envs\multi\lib\site-packages (from scikit-learn->sklearn) (1.6.3)
Requirement already satisfied: numpy>=1.13.3 in c:\users\lenovo\anaconda3\envs\multi\lib\site-packages (from scikit-learn->sklearn) (1.20.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\lenovo\anaconda3\envs\multi\lib\site-packages (from scikit-learn->sklearn) (2.1.0)

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   LIMIT_BAL_US             30000 non-null  float64
 1   SEX                      30000 non-null  int64
 2   EDUCATION                30000 non-null  int64
 3   MARRIAGE                 30000 non-null  int64
 4   AGE                      30000 non-null  int64
 5   PAY_SCORE_AVG            30000 non-null  float64
 6   BILL_AVG_US              30000 non-null  float64
 7   PAY_AMT_AVG_US           30000 non-null  float64
 8   PAY_TO_BILL              30000 non-null  float64
 9   CREDIT_UTILIZATION       30000 non-null  float64
 10  DEFAULT_PAYMENT_NEXT_MO  30000 non-null  int64
dtypes: float64(6), int64(5)
memory usage: 2.5 MB

In [11]:
from sklearn.model_selection import KFold
from sklearn.preprocessing import StandardScaler

from sklearn.linear_model import LinearRegression

In [12]:
data.corr()

,LIMIT_BAL_US,SEX,EDUCATION,MARRIAGE,AGE,PAY_SCORE_AVG,BILL_AVG_US,PAY_AMT_AVG_US,PAY_TO_BILL,CREDIT_UTILIZATION,DEFAULT_PAYMENT_NEXT_MO
LIMIT_BAL_US,1.000000,0.024755,-0.219161,-0.108139,0.144713,-0.316929,0.302044,0.352655,0.032013,-0.369990,-0.153520
SEX,0.024755,1.000000,0.014232,-0.031389,-0.090874,-0.069908,-0.025920,-0.004882,0.004992,-0.077400,-0.039961
EDUCATION,-0.219161,0.014232,1.000000,-0.143464,0.175061,0.124353,0.007750,-0.063991,-0.015338,0.184084,0.028006
MARRIAGE,-0.108139,-0.031389,-0.143464,1.000000,-0.414170,0.035460,-0.024507,-0.011222,-0.000514,0.048474,-0.024339
AGE,0.144713,-0.090874,0.175061,-0.414170,1.000000,-0.058188,0.054981,0.040776,0.001643,-0.026955,0.013890
PAY_SCORE_AVG,-0.316929,-0.069908,0.124353,0.035460,-0.058188,1.000000,0.282290,-0.074450,-0.042691,0.476076,0.281957
BILL_AVG_US,0.302044,-0.025920,0.007750,-0.024507,0.054981,0.282290,1.000000,0.343906,-0.027122,0.506385,-0.012691
PAY_AMT_AVG_US,0.352655,-0.004882,-0.063991,-0.011222,0.040776,-0.074450,0.343906,1.000000,0.015770,-0.018384,-0.102354
PAY_TO_BILL,0.032013,0.004992,-0.015338,-0.000514,0.001643,-0.042691,-0.027122,0.015770,1.000000,-0.046478,-0.010354
CREDIT_UTILIZATION,-0.369990,-0.077400,0.184084,0.048474,-0.026955,0.476076,0.506385,-0.018384,-0.046478,1.000000,0.086168
DEFAULT_PAYMENT_NEXT_MO,-0.153520,-0.039961,0.028006,-0.024339,0.013890,0.281957,-0.012691,-0.102354,-0.010354,0.086168,1.000000

In [13]:
data.describe()

,LIMIT_BAL_US,SEX,EDUCATION,MARRIAGE,AGE,PAY_SCORE_AVG,BILL_AVG_US,PAY_AMT_AVG_US,PAY_TO_BILL,CREDIT_UTILIZATION,DEFAULT_PAYMENT_NEXT_MO
count,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000
mean,6077.288279,1.603733,1.853133,1.551867,35.485500,-0.182680,1632.020583,191.415565,0.409982,0.423771,0.221200
std,4707.986577,0.489129,0.790349,0.521970,9.217904,0.982063,2295.460479,367.862624,7.671398,0.411462,0.415062
min,362.857143,1.000000,0.000000,0.000000,21.000000,-2.000000,-2033.566333,0.000000,-546.930000,-0.619892,0.000000
25%,1814.285714,1.000000,1.000000,1.000000,28.000000,-0.830000,173.494095,40.396583,0.040000,0.022032,0.000000
50%,5080.000000,2.000000,2.000000,2.000000,34.000000,0.000000,763.880810,86.982905,0.100000,0.313994,0.000000
75%,8708.571429,2.000000,2.000000,2.000000,41.000000,0.000000,2072.074548,202.616405,0.690000,0.829843,0.000000
max,36285.714290,2.000000,6.000000,3.000000,79.000000,6.000000,31833.959100,22763.637240,797.000000,6.455300,1.000000

In [14]:
data.profile_report()

AttributeError: 'DataFrame' object has no attribute 'profile_report'